package ${package}.${pkgName}.dto;

#if(${serializableState})
import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import com.fasterxml.jackson.databind.ser.std.ToStringSerializer;
#end
import lombok.Data;
import lombok.Getter;
import lombok.Setter;

/**
 * ${comments} 分页查询DTO
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */

@Getter
@Setter
@Data
public class ${className}PageQueryDTO extends PageQueryDTO {

#foreach ($column in $columns)
#if($column.columnName != $pk.columnName)
    #if($column.dtoIgnore == false)
    /**
     * $column.comments
     */
    #if($column.serializableState)
    @JsonSerialize(using = ToStringSerializer.class)
    #end
    private $column.attrType $column.attrname;
    #end
#end
#end

}
