package ${package}.${pkgName}.dto;

import lombok.Data;
import lombok.Getter;
import lombok.Setter;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.util.Date;

/**
 * ${comments} 查询DTO
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */

@Getter
@Setter
@Data
public class ${className}QueryDTO {

#foreach ($column in $columns)
#if($column.columnName != $pk.columnName)
    #if($column.dtoIgnore == false)
        /**
         * $column.comments
         */
        private $column.attrType $column.attrname;
    #end
#end
#end

}
