<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.${pkgName}.dao.${className}Dao">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="${package}.${pkgName}.model.${className}" id="baseResultMap">
        #foreach($column in $columns)
            <result property="${column.attrname}" jdbcType="${column.dataType}" column="${column.columnName}"/>
        #end
    </resultMap>

    <sql id="base_column_list">

        #foreach($column in $columns)
        ${column.columnName} as ${column.attrname}
    #end

    </sql>

    <sql id="base_where_condition">
        <where>
            dataState = 0
        </where>
    </sql>


    <sql id="where">
        <where>
            #foreach($column in $columns)
                <if test="searchKey != null and searchKey != '' and searchKey=='${column.columnName}'">
                    and t.${column.columnName} like concat('%', #{searchValue}, '%')
                </if>
            #end
        </where>
    </sql>

    #* 保存 *#
    <insert id="save">
        insert into ${tableName}(
        #foreach($column in $columns)
        #if( $!{velocityCount} == $!{columns.size()})
            ${column.columnName}
        #else
            ${column.columnName},
            #end
    #end
      ) values (
         #foreach($column in $columns)
        #if( $!{velocityCount} == $!{columns.size()})
               #{${column.columnName}}
            #else
               #{ ${column.columnName}},
            #end
    #end
      )
    </insert>

    #* 批量保存 *#
    <insert id="batchSave">
        insert into ${tableName}(
        #foreach($column in $columns)
            #if( $!{velocityCount} == $!{columns.size()})
                ${column.columnName}
            #else
                ${column.columnName},
            #end
        #end
        ) values
        <foreach collection="java.util.List" item="item" index="index" separator=",">
            (
            #foreach($column in $columns)
                #if( $!{velocityCount} == $!{columns.size()})
                    #{${column.columnName}}
                #else
                    #{ ${column.columnName}},
                #end
            #end
            )
        </foreach>

    </insert>

    #* 编辑 *#
    <update id="update">
        update ${tableName}
        <set>
            #foreach($column in $columns)
                <if test="${column.columnName} != null">
                    ${column.columnName} = #{${column.columnName}},
                </if>
            #end
        </set>
        <include refid="base_where_condition"/>
        AND id = #{id}
    </update>

    #* 删除 *#
    <delete id="delete" parameterType="long" flushCache="true">
        UPDATE ${tableName} SET dataState = 2
        <include refid="base_where_condition"/>
        AND id = #{id}
    </delete>

    #* 批量删除 *#
    <delete id="batchDelete" parameterType="java.util.List" flushCache="true">

        UPDATE ${tableName} SET dataState = 2
        <include refid="base_where_condition"/>
        AND id IN
        <foreach collection="ids" index="index" item="id" separator="," open="(" close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>

    #* 列表查询 *#
    <select id="findAll" resultType="${package}.${pkgName}.model.${className}">
        select
        <include refid="base_column_list"/>
        from ${tableName} t
        <include refid="where"/>
    </select>


</mapper>