package ${package}.${pkgName}.dao;

import ${package}.${pkgName}.model.${className};
import ${package}.${pkgName}.dto.${className}DTO;
import ${package}.${pkgName}.dto.${className}PageQueryDTO;
import ${package}.${pkgName}.dto.${className}QueryDTO;
import ${package}.${pkgName}.dto.create.${className}CreateDTO;
import ${package}.${pkgName}.dto.update.${className}UpdateDTO;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import com.quan.common.web.PageResult;

import java.util.List;
/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao {

    /**
     * 添加
     * @param data
     */
    int save(${className}CreateDTO data);

    /**
     * 批量添加
     * @param ${classname}s
     */
    int save(List<${className}CreateDTO> ${classname}s);

    /**
     * 修改
     * @param data
     */
    int update(${className}UpdateDTO data);

    /**
     * 单条删除
     * @param id
     */
    int delete(Long id);

    /**
       * 批量删除
       *
       * @param id
       */
    int batchDelete(List<Long> id);

    /**
    * 通过ID查找记录
    * @param id 用户记录ID
    * @return
    */
    ${className} findOneById(Long id);


    /**
     * 通过条件查找记录
     * @param params 对象数据
     * @return
     */
     ${className} findOneByCnd(@Param("data") ${className}QueryDTO params);


    /**
     * 查询列表分页
     * @param params 对象查询
     * @return
     */
    List<${className}> findAll(@Param("data") ${className}PageQueryDTO params);


    /**
     * 查询列表不分页
     * @param params 对象查询
     * @return
     */
    List<${className}> list(@Param("data") ${className}QueryDTO params);

}
