package ${package}.${pkgName}.request;


import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.Getter;
import lombok.Setter;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * ${comments} 条件查询请求类
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */

@Getter
@Setter
@Data
public class ${className}QueryRequest {

}
