package ${package}.${pkgName}.factory;

import com.quan.core.common.uid.IUidGenerator;
import ${package}.${pkgName}.dto.${className}DTO;
import ${package}.${pkgName}.model.${className};
import ${package}.${pkgName}.dto.${className}PageQueryDTO;
import ${package}.${pkgName}.dto.${className}QueryDTO;
import ${package}.${pkgName}.dto.create.${className}CreateDTO;
import ${package}.${pkgName}.dto.update.${className}UpdateDTO;
import ${package}.${pkgName}.request.${className}QueryRequest;
import ${package}.${pkgName}.request.create.${className}CreateRequest;
import ${package}.${pkgName}.request.update.${className}UpdateRequest;
import ${package}.${pkgName}.request.${className}PageQueryRequest;

import org.apache.commons.collections4.CollectionUtils;

import java.util.Collections;
import java.util.Date;
import java.util.List;
import java.util.stream.Collectors;

/**
 * ${comments} 创建请求类
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public final class ${className}Factory {


    /***
     * 新建
     *
     * @return
     */
    public static ${className}CreateDTO newInstance(IUidGenerator uidGenerator, ${className}CreateRequest req) {
        ${className}CreateDTO createData = new ${className}CreateDTO();
        createData.setId(uidGenerator.uid());
        #foreach ($column in $columns)
        #if($column.reqIgnore == false && $column.columnName != $pk.columnName)
        createData.set${column.attrName}(req.get${column.attrName}());
        #end
        #end
        createData.setCreateTime(new Date());
        createData.setCreateUserId(0L);
        createData.setHasChildren(0);
        return createData;
    }

    /***
     * 编辑
     *
     * @return
     */
    public static ${className}UpdateDTO newInstance(${className}UpdateRequest req) {
        ${className}UpdateDTO updateData = new ${className}UpdateDTO();
        #foreach ($column in $columns)
        #if($column.reqIgnore == false)
        updateData.set${column.attrName}(req.get${column.attrName}());
        #end
        #end
        updateData.setUpdateTime(new Date());
        updateData.setUpdateUserId(0L);
        return updateData;
    }

    /***
     * 批量 新建
     */
    public static List<${className}CreateDTO> newBatchInstance(IUidGenerator uidGenerator, List<${className}CreateRequest> datas) {

        if (CollectionUtils.isEmpty(datas)) {
            return Collections.emptyList();
        }
        return datas.stream().map(d -> newInstance(uidGenerator, d)).collect(Collectors.toList());
    }

    /***
    * 转换查询列表 req 到 DTO
    */
    public static ${className}QueryDTO newInstance(${className}QueryRequest req) {
        ${className}QueryDTO queryData = new ${className}QueryDTO();

        return queryData;
    }

    /***
     * 转换分页 req 到 DTO
     */
    public static ${className}PageQueryDTO newInstance(${className}PageQueryRequest req) {
        ${className}PageQueryDTO query = new ${className}PageQueryDTO();
        query.setPageNumber(req.getPageNumber());
        query.setPageSize(req.getPageSize());

        return query;
    }

    /***
     * 转换 PO 到 DTO
     */
    public static ${className}DTO newInstance(${className} data) {
        ${className}DTO dto = new ${className}DTO();
        #foreach ($column in $columns)
        #if($column.dtoIgnore == false)
        dto.set${column.attrName}(data.get${column.attrName}());
        #end
        #end

        return dto;
    }

    public static List<${className}DTO> newInstance(List<${className}> data) {
        return data.stream().map(${className}Factory::newInstance).collect(Collectors.toList());
    }

}
