package ${package}.${pkgName}.request;

#if(${serializableState})
import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import com.fasterxml.jackson.databind.ser.std.ToStringSerializer;
#end
import lombok.Data;
import lombok.Getter;
import lombok.Setter;
import io.swagger.annotations.ApiModelProperty;
import io.swagger.annotations.ApiModel;
import java.util.Date;

/**
 * ${comments} 创建请求类
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */

@Getter
@Setter
@Data
@ApiModel
public class ${className}CreateRequest {

#foreach ($column in $columns)

    #if($column.columnName != $pk.columnName)
    #if($column.reqIgnore == false)
    /**
    * $column.comments
    */
    @ApiModelProperty(value = "$column.comments")
    #if($column.serializableState)
    @JsonSerialize(using = ToStringSerializer.class)
    #end
    private $column.attrType $column.attrname;
    #end
    #end
#end

}
