package ${package}.${pkgName}.service;

import ${package}.${pkgName}.dto.${className}DTO;
import ${package}.${pkgName}.request.create.${className}CreateRequest;
import ${package}.${pkgName}.request.update.${className}UpdateRequest;
import ${package}.${pkgName}.request.${className}PageQueryRequest;
import ${package}.${pkgName}.request.${className}QueryRequest;
import ${package}.${pkgName}.request.${className}EnableRequest;
import ${package}.${pkgName}.request.${className}DisableRequest;
import ${package}.${pkgName}.request.${className}BatchEnableAndDisableRequest;

import java.util.List;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {
    /**
     * 添加
     * @param data
     */
    int save(${className}CreateRequest data);

    /**
     * 批量添加
     * @param ${classname}s
     */
    int batchSave(List<${className}CreateRequest> ${classname}s);

    /**
     * 修改
     * @param ${classname}
     */
    int update(${className}UpdateRequest ${classname});

    /**
     * 单条删除
     * @param id
     */
    int delete(Long id);

    /**
    * 批量删除
    *
    * @param id
    */
    int delete(List<Long> id);

    /**
    * 通过ID查找记录
    * @param id 用户记录ID
    * @return
    */
    ${className}DTO findOneById(Long id);


    /**
     * 通过条件查找记录
     * @param ${classname} 对象数据
     * @return
     */
    ${className}DTO findOneByCnd(${className}QueryRequest ${classname});


    /**
     * 查询列表分页
     * @param params 对象查询
     * @return
     */
    Object findAll(${className}PageQueryRequest params);


    /**
     * 查询列表不分页
     * @param params 对象查询
     * @return
     */
    List<${className}DTO> list(${className}QueryRequest params);


    /**
    * 启用
    */
    int enable(${className}EnableRequest req);


    /**
    * 禁用
    */
    int disable(${className}DisableRequest req);


    /***
    *   批量启用
    */
    int batchEnable(${className}BatchEnableAndDisableRequest params);


    /***
    *   批量禁用
    */
    int batchDisable(${className}BatchEnableAndDisableRequest params);


}

